@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600);/*===================================
        VARIABLES
  ===================================*/
@font-face {
  font-family: 'Pure Heart';
  src: url("./fonts/pureheart.woff2") format("woff2"), url("./fonts/pureheart.woff") format("woff"), url("./fonts/pureheart.ttf") format("truetype"), url("./fonts/pureheart.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.45;
  color: #101010; }
  @media screen and (min-width: 767px) {
    body {
      font-size: 1.6rem; } }
  @media screen and (min-width: 992px) {
    body {
      overflow: hidden; } }

h1, h2, h3, h4, h5 {
  line-height: 1.2; }

h2, h3, h4, h5 {
  font-weight: 600; }

h1 {
  font-family: "Pure Heart", Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#f7be40), to(#e38c25));
  background: linear-gradient(to right, #f7be40, #e38c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

/*h1 {font-size: 6.85rem;}
h3 {font-size: 4.23rem;}
h4 {font-size: 2.618rem;}
h5 {font-size: 1.618rem;}*/
h1 {
  font-size: 9rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.6rem; }

h4 {
  font-size: 2.2rem; }

@media screen and (min-width: 767px) {
  h2 {
    font-size: 4rem; }
  h3 {
    font-size: 3.2rem; }
  h4 {
    font-size: 2.4rem; } }

@media screen and (min-width: 992px) {
  h2 {
    font-size: 4.8rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 2.8rem; } }

/*
 Flexbox fallback
 */
/*
 Vertical nagivation
 */
.hamburger {
  background-image: url("./img/hamburger.png");
  /* fallback */
  background-size: 100px 50px;
  width: 50px;
  height: 50px;
  background-position: 0 0;
  margin: 0 auto;
  cursor: pointer; }
  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .hamburger {
      background: url("./img/hamburger-retina.png") no-repeat;
      background-size: 100px 50px; } }
  .hamburger.close {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    background-position: -50px 0;
    margin-top: 0.8rem; }
  .hamburger.open {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    z-index: 3; }

nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 65%;
  left: -65%;
  opacity: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  nav ul {
    padding: 0;
    margin: 0;
    margin-right: 0.8rem;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    background: #101010;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    nav ul li {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      nav ul li a {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 500; }
  nav .deadspace {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    background: #101010;
    margin: 0;
    padding: 0;
    font-size: 0; }
  nav .logo {
    background: url("./img/logo.png");
    background-size: 100px 54px;
    width: 100px;
    height: 54px;
    margin: 0 auto; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      nav .logo {
        background: url("./img/logo-retina.png") no-repeat;
        background-size: 100px 54px; } }
  @media screen and (min-width: 767px) {
    nav {
      width: 22rem;
      left: -22rem; } }
  @media screen and (min-width: 1200px) {
    nav {
      width: 27rem;
      left: -27rem; } }

/*header{
	display: none;
	@media screen and (min-width: $computerbreak) {
		display: block;
		position: absolute;
		height: 100px;
		right: 0;
		.hamburguer {
			position: relative;
			display: inline-block;
		    width: 34px;
		    height: 34px;
			margin: 2em;
			pointer-events: none;
			transition: 0.1s;
			z-index: 2;
			float: right;
			padding-right: 3px;

			svg{
				position: absolute;
				top: -33px;
				left: -33px;
				-webkit-transform: scale(0.1);
				-ms-transform: scale(0.1);
				transform: scale(0.1);
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;

				path{
					stroke: $red2;
					stroke-width: 40px;
					stroke-linecap: round;
				    stroke-linejoin: round;
					fill: transparent;
				}
			}
			.trigger {
				position: relative;
				width: 100%;
				height: 100%;
				cursor: pointer;
				pointer-events: auto;
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				&:hover, &:focus{
					outline: none;
				}
			}
		}
		.content{
			display: inline-block;
			opacity: 0;
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				text-align: center;
				font-family: 'Montserrat';
				height: 100px;
				padding: 2em;
				text-transform: uppercase;
				li{
					display: inline-block;
					margin: 0 auto;
					padding: 0 2rem;
					margin: 8px auto;
					a, a:hover, a:focus{
						color: $txtcolor;
						text-decoration: none;
					}
				}
			}
		}
    }
}
*/
a {
  color: #f7be40;
  -webkit-transition: color 0.8s ease;
  transition: color 0.8s ease; }
  a:hover, a:active, a:focus {
    color: #e38c25; }

main {
  padding: 0 1rem;
  margin: 0;
  position: relative;
  width: calc(100% - 2rem);
  z-index: 1; }
  @media screen and (min-width: 1439px) {
    main {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0; } }

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  section h1, section h2, section h3, section h4, section h5, section p {
    text-align: center; }
  @media screen and (min-width: 992px) {
    section {
      height: 100vh; }
      section h2, section h3, section h4, section h5, section p {
        text-align: left; }
      section:not(#home) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      section:not(.active) > * {
        opacity: 0; } }
  section#home {
    height: 100vh; }
    section#home p {
      text-align: center !important; }
  @media screen and (min-width: 992px) {
    section:not(#home) .content {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    section:not(#home) header {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

h1.title {
  font-size: 7rem;
  margin: 0 auto;
  overflow: hidden; }
  h1.title:nth-of-type(2) {
    margin-top: -3.5rem; }
    @media screen and (min-width: 767px) {
      h1.title:nth-of-type(2) {
        margin-top: -7rem; } }
    @media screen and (min-width: 992px) {
      h1.title:nth-of-type(2) {
        margin-top: -9rem; } }
  @media screen and (min-width: 480px) {
    h1.title {
      font-size: 10rem; } }
  @media screen and (min-width: 767px) {
    h1.title {
      font-size: 15rem; } }
  @media screen and (min-width: 992px) {
    h1.title {
      font-size: 18rem; } }
  h1.title span.progress {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    top: 0;
    left: 0; }
  h1.title.two span.progress {
    top: unset;
    bottom: 15%;
    height: 65%; }
